<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
    <link rel="stylesheet" href="css/desktop.css">
</head>

<body>
    <div class="main">
        <div class="left">
            <div class="nav">
                <a href="/tunes">
                    <p class="logo">Flip<span style="color: dodgerblue; font-weight: 600;">Tune</span></p>
                </a>
                <ul>
                    <!-- <li><a href="/">All Songs</a></li>
                    <li><a href="">My Playlist</a></li> -->
                    <li>
                        <form class="local-search-form">
                            <input type="text" name="search" autocomplete="off" placeholder="Search music...">
                            <button class="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </form>
                    </li>
                    <% if(currentUser) { %>
                        <li>
                            <a href="/logout"><button class="logout-btn">Logout</button></a>
                        </li>
                        <% } else { %>
                            <li>
                                <button class="login-btn">Login</button>
                                <button class="signup-btn">Signup</button>
                            </li>
                            <% } %>
                </ul>
            </div>
            <%- include("../partials/card-container") %>

                <!-- Create New Playlist -->
                <%- include("../partials/create-new-playlist") %>

                    <div class="notification">
                        <p>
                            Playlist already Exists!
                        </p>
                        <button class="close-notification"><i class="fa-solid fa-xmark"></i></button>
                    </div>

                    <!-- Edit Form -->
                    <%- include("../partials/edit-playlist") %>

                        <!-- Local Search -->
                        <%- include("../partials/search-container") %>

                            <!-- Auth Section -->
                            <%- include("../partials/auth-form") %>

        </div>
        <%- include("../partials/player") %>
            
    </div>

    <!-- <script src="/js/app.js"></script> -->


</body>

</html>
